/* Dark theme styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        color: #ffffff;
    }

    /* GitHub Pages markdown specific styles */
    .markdown-body {
        background-color: #000000;
        color: #ffffff;
    }

    .markdown-body a {
        color: #1e90ff; /* Adjust link color for dark theme */
    }

    .markdown-body code {
        background-color: #333333; /* Adjust code block background for dark theme */
        color: #ffffff;
    }

    .markdown-body pre {
        background-color: #333333; /* Adjust preformatted text background for dark theme */
        color: #ffffff;
    }

    .markdown-body table {
        background-color: #333333; /* Adjust table background for dark theme */
        color: #ffffff;
    }

    .markdown-body th, .markdown-body td {
        border-color: #444444; /* Adjust table border color for dark theme */
    }
}
